*::-webkit-scrollbar-thumb {
  background: #6a0f0f;
  border-radius: 8px;
}

*::-webkit-scrollbar {
  background: #191919;
  width: 8px;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-color: #191919;
  color: #fefefe;
  font-family: "Geologica", sans-serif;
  overflow: hidden auto;
}

#react-target {
  height: 100%;
  width: 100%;
}

.hover {
  transition: ease-in-out 0.3s;
}

.hover:hover {
  transition: ease-in-out 0.3s;
  opacity: 0.6;
}
